<header class="header">
    <div class="header-top py-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 col-sm-4">
                    <div class="header-top-phone d-flex align-items-center h-100">
                        <i class="fa-solid fa-mobile-screen"></i>
                        <a href="tel:+1234567890" class="ms-2">123-456-7890</a>
                    </div>
                </div>

                <div class="col-sm-4 d-none d-sm-block">
                    <ul class="social-icons d-flex justify-content-center">
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-sm-4">
                    <div class="header-top-account d-flex justify-content-end">
                        <div class="btn-group me-2">
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Account
                                </button>
                                <ul class="dropdown-menu">
                                    {% if not user.is_authenticated %}
                                    <li>
                                        <a class="dropdown-item" href="{% url "users:login" %}">Войти</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url "users:registration" %}">Зарегистрироваться</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a class="dropdown-item" href="{% url "users:profile" %}">Профиль</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url "users:logout" %}">Выйте</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    EN
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">RU</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">DE</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ./header-top-account -->
                </div>
            </div>
        </div>
    </div>
    <!-- ./header-top -->

    <div class="header-middle bg-white py-4">
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-sm-6">
                    <a href="{% url "main:index" %}" class="header-logo h1">E-Shop</a>
                </div>

                <div class="col-sm-6 mt-2 mt-md-0">
                    <form action="{% url "goods:search" %}" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Searching..."
                                aria-label="Searching..." aria-describedby="button-search">
                            <button class="btn btn-outline-warning" type="submit" id="button-search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
    <!-- ./header-middle -->
</header>