{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="{% url "main:index" %}">Home</a></li>
                    <li><span>{{cat.name}}</span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="sidebar">

                <button class="btn btn-warning w-100 text-start collapse-filters-btn mb-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false"
                    aria-controls="collapseExample">
                    <i class="fa-solid fa-filter"></i> Filters
                </button>

                <div class="collapse collapse-filters" id="collapseFilters">
                    <form method="get" action="">
                    <div class="filter-block">
                        {% for feature in features  %}
                            <h5 class="section-title"><span>{{feature.name}}</span></h5>
                                {% for feature_value in feature.values.all %}
                                    {% if feature_value.products.count > 0 %}
                                        <div class="form-check d-flex justify-content-between">
                                            <div>
                                                {% if request.GET.q %}
                                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                                {% endif %}
                                                <input class="form-check-input" type="checkbox" name="features" value="{{ feature_value.id }}" id="feature_{{ value.id }}">
                                                <label class="form-check-label" for="feature_{{ feature_value.id }}">
                                                    {{ feature_value.value }}
                                                </label>
                                            </div>
                                            <span class="badge border rounded-0">{{feature_value.products.count}}</span>
                                        </div> 
                                    {% endif %}
                                {% endfor %}
                        {% endfor %}                    
                    </div>
                    
                    <button class="btn btn-warning" type="submit">Применить фильтры</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8">
            {% if cat == True %}
            <div class="row mb-3">
                <div class="col-12">
                    <h1 class="section-title h3"><span>Результаты поиска</span></h1>
                </div>
                <div class="col-4 col-sm-2">
                    <img src="{%static "img/products/search.jpg"%}" alt="" class="img-thumbnail">
                </div>
                {% if request.GET.q %}
                <div class="col-8 col-sm-10">
                    <h3>Результат поиска по запросу {{request.GET.q}}</h3>
                </div>
                {% endif %}
            </div>

            {% else %}
                <div class="row mb-3">
                    <div class="col-12">
                        <h1 class="section-title h3"><span>{{cat.name}}</span></h1>
                    </div>
                    <div class="col-4 col-sm-2">
                        {% if cat.image %}
                                <img src="{{cat.image.url}}" alt="" class="img-thumbnail">
                                {%else%}
                                <img src="{%static "img/products/alt.jpg"%}" alt="" class="img-thumbnail">
                        {% endif %}
                    </div>
                    <div class="col-8 col-sm-10">
                        <p>{{cat.description }}</p>
                    </div>
                </div>
            {% endif %}
            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <form method="GET">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Sort By:</span>
                            {% if request.GET.q %}
                                <input type="hidden" name="q" value="{{ request.GET.q }}">
                            {% endif %}
                            <select class="form-select" name="sort" aria-label="Sort by:" onchange="this.form.submit()">
                                <option selected>Default</option>
                                <option value="1">Name (a-z)</option>
                                <option value="2">Name (z-a)</option>
                                <option value="3">Price (low &gt; high)</option>
                                <option value="4">Price (high &gt; low)</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form method="GET">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Show:</span>
                            {% if request.GET.q %}
                                <input type="hidden" name="q" value="{{ request.GET.q }}">
                            {% endif %}
                            <select class="form-select" name="show" aria-label="Show:" onchange="this.form.submit()">
                                <option selected>9</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                {% if not goods %}
                    <h2>По вашему запросу ничего не найдено</h2>
                {% endif %}
                {% for product in goods %}
                <div class="col-lg-4 col-sm-6 mb-3">
                    <div class="product-card">
                        <div class="product-card-offer">
                            {% if product.is_best_seller %}
                            <div class="offer-hit">Hit</div>
                            {% endif %}
                            {% if product.is_new %}
                            <div class="offer-new">New</div>
                            {% endif %}
                        </div>
                        <div class="product-thumb">
                            {% if product.images %}
                            <a href="{% url "goods:product" product.slug %}"><img src="{{ product.images.all.0.image.url }}" alt=""></a>
                            {%else%}
                            <a href="{% url "goods:product" product.slug %}"><img src="{%static "img/products/alt.jpg"%}" alt=""></a>
                            {% endif %}
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="{% url "goods:product" product.slug %}">{{product.name}}</a>
                            </h4>
                            <p class="product-excerpt">{{product.brief_description}}</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">
                                    {% if product.discount%}
                                    <small>${{product.price}}</small>
                                    ${{product.sell_price}}
                                    {% else %}
                                    ${{product.price}}
                                    {% endif %}
                                </div>
                                <div class="product-links">
                                    <!--
                                    <a href="{% url "cart:cart_add" product.slug %}" class="btn btn-outline-secondary add-to-cart"><i
                                            class="fas fa-shopping-cart"></i></a>
                                    -->
                                    <a href="{% url "cart:cart_add" product.slug %}">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% if goods.paginator.count > 9 %}
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item {% if not goods.has_previous %}disabled{% endif %}">
                                <a class="page-link" href="{% if goods.has_previous %}?{% chenge_params page=goods.previous_page_number %}{% else %}#{% endif %}">Предыдущая</a>
                            </li>

                            {% for page in goods.paginator.page_range %}
                                {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                                <li class="page-item {% if goods.number == page %} active {% endif %}" aria-current="page">  
                                    <a class="page-link" href="?{% chenge_params page=page %}">{{ page }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            
                            <li class="page-item {% if not goods.has_next %}disabled{% endif %}">
                                <a class="page-link" href="{% if goods.has_next %}?{% chenge_params page=goods.next_page_number %}{% else %}#{% endif %}">Следующая</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}