{% extends 'base.html' %}
{% load static %}

    {% block content %}
    {% if slides %}
    <div id="carousel" class="carousel slide carousel-fade">
        <div class="carousel-indicators">
            {% for slide in slides %}
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
            <!--
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            -->
        </div>
        <div class="carousel-inner"> 
    {% for slide in slides %} 
        <div class="carousel-item {% if forloop.first %}active{% endif %}"> 
            <img src="{{ slide.photo.url }}" class="d-block w-100" alt="..."> 
            <div class="carousel-caption d-none d-md-block"> 
                <h2>{{ slide.caption }}</h2> 
                <p>{{ slide.description }}</p> 
            </div> 
        </div> 
    {% endfor %} 
</div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}
    <!--Конец слайдера-->
    <!--Секция наши преимущества-->
    {% if advanteges %}
    <section class="advantages">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 class="section-title">
                        <span>Наши преимущества</span>
                    </h2>
                </div>
            </div>

            <div class="row gy-3 items">
                {% for advantage in  advanteges %}
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <p>
                            <i class="{{ advantage.icon_class }}"></i>
                        </p>
                        <p>{{ advantage.text}}</p>
                    </div>
                </div>
                {% endfor %}
                <!--
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <p>
                            <i class="fas fa-cubes"></i>
                        </p>
                        <p>Широкий ассортимент товаров. Более 10 тыс. наименований</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <p>
                            <i class="fas fa-hand-holding-usd"></i>
                        </p>
                        <p>Приятные и конкурентные цены</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <p>
                            <i class="fa-solid fa-user-graduate"></i>
                        </p>
                        <p>Консультации от профессионалов</p>
                    </div>
                </div>
                -->
            </div>

        </div>
    </section>
    {% endif %}
    <!--Конец секция наши преимущества-->
    {% if hit  %}
    <section class="featured-products">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 class="section-title">
                        <span>{{hit.name}}</span>
                    </h2>
                </div>
            </div>

            <div class="row">

                {% for item in hits %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="product-card">
                        <div class="product-card-offer">
                            {% if item.is_best_seller %}
                            <div class="offer-hit">Hit</div>
                            {% endif %}
                            {% if item.is_new %}
                            <div class="offer-new">New</div>
                            {% endif %}
                        </div>
                        <div class="product-thumb">
                            {% if item.images %}
                            <a href="{% url "goods:product" item.slug %}"><img src="{{ item.images.all.0.image.url }}" alt=""></a>
                            {%else%}
                            <a href="{% url "goods:product" item.slug %}"><img src="{%static "img/products/alt.jpg"%}" alt=""></a>
                            {% endif %}
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="{% url "goods:product" item.slug %}">{{item.name}}</a>
                            </h4>
                            <p class="product-excerpt">{{item.brief_description}}</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">
                                    {% if item.discount  %}
                                    <small>${{item.price}}</small>
                                    ${{item.sell_price}}
                                    {% else %}
                                    ${{item.price}}
                                    {% endif %}
                                </div>
                                <div class="product-links">
                                    <a href="#" class="btn btn-outline-secondary add-to-cart"><i
                                            class="fas fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    {% endif %}
    {% if new  %}
    <section class="new-products">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 class="section-title">
                        <span>{{new.name}}</span>

                    </h2>
                </div>
            </div>

            <div class="owl-carousel owl-theme owl-carousel-full">
                {% for item in news %}
                <div class="product-card">
                    <div class="product-card-offer">
                        {% if item.is_best_seller %}
                        <div class="offer-hit">Hit</div>
                        {% endif %}
                        {% if item.is_new %}
                        <div class="offer-new">New</div>
                        {% endif %}
                    </div>
                    <div class="product-thumb">
                        {% if item.images %}
                        <a href="{% url "goods:product" item.slug %}"><img src="{{ item.images.all.0.image.url }}" alt=""></a>
                        {%else%}
                        <a href="{% url "goods:product" item.slug %}"><img src="{%static "img/products/alt.jpg"%}" alt=""></a>
                        {% endif %}
                    </div>
                    <div class="product-details">
                        <h4>
                            <a href="{% url "goods:product" item.slug %}">{{item.name}}</a>
                        </h4>
                        <p class="product-excerpt">{{item.brief_description}}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                {% if item.discount  %}
                                <small>${{item.price}}</small>
                                ${{item.sell_price}}
                                {% else %}
                                ${{item.price}}
                                {% endif %}
                            </div>
                            <div class="product-links">
                                <a href="#" class="btn btn-outline-secondary add-to-cart"><i
                                        class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

    <!--Секция о нас-->
    {% if about %}
    <section class="about-us" id="about">
        <div class="container fluid">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 class="section-title">
                        <span>{{about.name}}</span>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{about.brief_description}}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!--Конец секция о нас-->
    <!--Секция карта-->
    {% if maps %}
    {% for map in maps %}
    <iframe id="map" src="{{ map.iframe_url }}ccb!2zMTggUnVlIFNhaW50LURlbmlzLCA3NTAwMSBQYXJpcywg0KTRgNCw0L3RhtC40Y8!5e0!3m2!1sru!2sua!4v1683972127217!5m2!1sru!2sua" 
        width="100%" height="450" style="border:0; display: block;" allowfullscreen="" 
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    {% endfor %}
    <!--
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2407.1070529675467!2d2.3478712780714384!3d48.85881153486507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1ee52239cb%3A0x2cacf4239af49ccb!2zMTggUnVlIFNhaW50LURlbmlzLCA3NTAwMSBQYXJpcywg0KTRgNCw0L3RhtC40Y8!5e0!3m2!1sru!2sua!4v1683972127217!5m2!1sru!2sua"
    width="100%" height="450" style="border:0; display: block;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
    -->
    {% endif %}
    <!--Конец секция карта-->
    
    {% endblock content %}
