{% load static %}
{% load carts_tags %}
{% user_carts request as carts %}

<div class="table-responsive" id="cart-items-container">
    <table class="table offcanvasCart-table">
        <tbody>
            {% for cart in carts %}
                <tr>
                    {% if cart.product.images %}
                            <td class="product-img-td"><a href="{% url "goods:product" cart.product.slug %}"><img src="{{ cart.product.images.all.0.image.url }}" alt=""></a>
                            </td>
                            {%else%}
                            <td class="product-img-td"><a href="{% url "goods:product" cart.product.slug %}"><img src="{% static "img/products/alt.jpg" %}" alt=""></a>
                    {% endif %}
                    <td w-75><a href="{% url "goods:product" cart.product.slug %}">{{cart.product.name}}</a></td>
                    <td>${{cart.products_price}}</td>
                    
                    <td class="w-25">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-warning btn-md decrement"
                                            data-cart-id="{{ cart.id }}"
                                            data-cart-change-url="{% url "cart:cart_change" %}">
                                            {% csrf_token %}
                                            -</button>
                                    </span>
                                    <input type="text" class="form-control number" value="{{ cart.quantity }}"
                                        readonly>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-warning btn-md increment"
                                            data-cart-id="{{ cart.id }}"
                                            data-cart-change-url="{% url "cart:cart_change" %}">
                                            {% csrf_token %}
                                            +</button>
                                    </span>
                                </div>
                    </td>
                    <td>
                    <a href="{% url "cart:cart_remove"%}" class="btn btn-danger remove-from-cart"
                    data-cart-id="{{ cart.id }}">
                        {% csrf_token %}
                        <i class="fa-regular fa-circle-xmark "></i>
                    </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-end">Total:</td>
                <td>${{carts.total_price}}</td>
            </tr>
        </tfoot>
    </table>
</div>
